---
import MainLayout from '../layouts/mainLayout.astro';
import Navbar from '../components/Navbar.svelte';
import FaShoppingCart from 'svelte-icons/fa/FaShoppingCart.svelte';
---

<MainLayout>
    <Navbar />
    <main class="w-full flex justify-center flex-col items-center">
        <h1>No hay articulos en el carrito</h1>
        <div class="text-slate-300">
            <FaShoppingCart />
        </div>
        <a href="/tienda" class="text-blue-600 underline">Volver</a>
    </main>
</MainLayout>

<style>
    main {
        height: calc(100dvh - 60px);
        gap: 5rem;
        font-weight: bold;
    }
    main > div {
        transform: rotateZ(-45deg);
        width: 200px;
    }
</style>