---
import MainLayout from '../layouts/mainLayout.astro';
import Navbar from '../components/Navbar.svelte';
import Card from '../components/Card.svelte';
import Contacts from '../components/ui/Contacts.svelte';
---

<MainLayout>
    <header>
        <Navbar />
    </header>
    <main class="md:p-5 p-1 flex flex-col">
        <h1 class="md:text-2xl text-xl text-center font-bold mx-auto mt-5 mb-10">Nuestra tienda de productos</h1>
            <section class="grid lg:grid-cols-4 grid-cols-2 gap-5">
            <Card src="https://res.cloudinary.com/andy-company/image/upload/v1715365974/yoga1_eaqzxs.jpg" title="Conjunto 1" />
            <Card src="https://res.cloudinary.com/andy-company/image/upload/v1715365972/yoga3_xmadyq.jpg" title="Conjunto 2" />
            <Card src="https://res.cloudinary.com/andy-company/image/upload/v1715365971/yoga5_acfgih.jpg" title="Conjunto 3" />
            <Card src="https://res.cloudinary.com/andy-company/image/upload/v1715365971/yoga4_szvimy.jpg" title="Conjunto 4" />
            <Card src="https://res.cloudinary.com/andy-company/image/upload/v1715365970/yoga6_leo23a.jpg" title="Conjunto 5" />
            <Card src="https://res.cloudinary.com/andy-company/image/upload/v1715365970/yoga2_fo0t7r.jpg" title="Conjunto 6" />
            <Card src="https://res.cloudinary.com/andy-company/image/upload/v1715365970/yoga7_lysdlp.jpg" title="Conjunto 7" />
            <Card src="https://res.cloudinary.com/andy-company/image/upload/v1715365970/yoga8_hqgczc.jpg" title="Conjunto 8" />
            <!-- DUPLICATE -->
            <Card src="https://res.cloudinary.com/andy-company/image/upload/v1715365974/yoga1_eaqzxs.jpg" title="Conjunto 1" />
            <Card src="https://res.cloudinary.com/andy-company/image/upload/v1715365972/yoga3_xmadyq.jpg" title="Conjunto 2" />
            <Card src="https://res.cloudinary.com/andy-company/image/upload/v1715365971/yoga5_acfgih.jpg" title="Conjunto 3" />
            <Card src="https://res.cloudinary.com/andy-company/image/upload/v1715365971/yoga4_szvimy.jpg" title="Conjunto 4" />
            <Card src="https://res.cloudinary.com/andy-company/image/upload/v1715365970/yoga6_leo23a.jpg" title="Conjunto 5" />
            <Card src="https://res.cloudinary.com/andy-company/image/upload/v1715365970/yoga2_fo0t7r.jpg" title="Conjunto 6" />
            <Card src="https://res.cloudinary.com/andy-company/image/upload/v1715365970/yoga7_lysdlp.jpg" title="Conjunto 7" />
            <Card src="https://res.cloudinary.com/andy-company/image/upload/v1715365970/yoga8_hqgczc.jpg" title="Conjunto 8" />
        </section>
    </main>
    <footer class="bg-slate-800 p-5 mt-10 flex flex-col gap-5">
        <Contacts />
    </footer>
</MainLayout>

<style>
    h1 {
        font-family: "Quicksand", sans-serif;
        position: relative;
        width: fit-content;
    }
    h1::before {
        content: '';
        position: absolute;
        width: 35%;
        height: 8px;
        background: rgb(134 239 172);
        left: 0;
        top: 110%;
        border-radius: 9999px;
    }
</style>